.headerContainer{
    /* height: 200px; */
    background-color: pink;
}

.links{
    margin-right: 20px; 'hhhh'
}
.quicklinksContainer{
     display: flex;
     border: 3px solid #fff;
     padding: 20px;
     justify-content: space-evenly;
}

.float-child{
    /* float: left;
    width: 15;
    padding: 20; */
    background-color: lightgrey;
    /* width: 300px; */
    border: 1px solid rgb(94, 91, 91);
    padding: 10px;
    margin: 20px;

}

span {
    background-color: red;
}

.icon-red{
    color: 'yellow'
}